* {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(66, 209, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.text_field {
    width: 400px;
    height: 100px;
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
    font-size: 24px;
    font-weight: bold;
}

.text_field span {
    opacity: 0;
}

.text_field span.revealed {
    opacity: 1;
}

.text_field span.green {
    color: rgb(115, 255, 80);
}